import("S7")
import("methods")
import("purrr")
import("stringr")
import("deSolve")
import("ggplot2")
import("tibble")
import("Rcpp")
import("RcppArmadillo")
import("knitr")
importFrom("utils", "combn", "tail")
importFrom("Matrix", "bdiag")
importFrom("pracma", "cond")
importFrom("Deriv", "Simplify")
importFrom("scales", "pretty_breaks")
importFrom("kableExtra", "kable_styling", "kbl", "add_header_above")
importFrom("stats", "setNames")
importFrom("graphics","plot")
importFrom("stats", "time")

export(plot)


export(adjustGradient)
export(Administration)
export(AdministrationConstraints)
export(Arm)
export(BayesianFim)
export(checkSamplingTimeConstraintsForMetaheuristic)
export(checkValiditySamplingConstraint)
export(Combined1)
export(computeVMat)
export(Constant)
export(convertPKModelAnalyticToPKModelODE)
export(defineFim)
export(defineModelAdministration)
export(defineModelEquationsFromLibraryOfModel)
export(defineModelType)
export(defineModelWrapper)
export(definePKModel)
export(definePKPDModel)
export(Design)
export(Distribution)
export(evaluateArm)
export(evaluateDesign)
export(evaluateErrorModelDerivatives)
export(evaluateFim)
export(evaluateInitialConditions)
export(evaluateModel)
export(evaluateModelGradient)
export(evaluateModelVariance)
export(evaluateVarianceFIM)
export(Evaluation)
export(FedorovWynnAlgorithm)
export(FedorovWynnAlgorithm_Rcpp)
export(Fim)
export(finiteDifferenceHessian)
export(fisherSimplex)
export(fun.amoeba)
export(generateDosesCombination)
export(generateFimsFromConstraints)
export(generateReportEvaluation)
export(generateReportOptimization)
export(generateSamplingsFromSamplingConstraints)
export(generateSamplingTimesCombination)
export(armAdministration)
export(getArmConstraints)
export(getArmData)
export(Dcriterion)
export(getDcriterion)
export(getCorrelationMatrix)
export(getFisherMatrix)
export(getListLastName)
export(getModelParametersData)
export(getSamplingData)
export(getSE)
export(getRSE)
export(getShrinkage)
export(getDeterminant)
export(IndividualFim)
export(LibraryOfPKModels)
export(LibraryOfPDModels)
export(LibraryOfModels)
export(Linear2BolusSingleDose_ClQV1V2)
export(Linear2BolusSingleDose_kk12k21V)
export(Linear2BolusSteadyState_ClQV1V2tau)
export(Linear2BolusSteadyState_kk12k21Vtau)
export(Linear2FirstOrderSingleDose_kaClQV1V2)
export(Linear2FirstOrderSingleDose_kakk12k21V)
export(Linear2FirstOrderSteadyState_kaClQV1V2tau)
export(Linear2FirstOrderSteadyState_kakk12k21Vtau)
export(Linear2InfusionSingleDose_ClQV1V2)
export(Linear2InfusionSingleDose_kk12k21V)
export(Linear2InfusionSteadyState_ClQV1V2tau)
export(Linear2InfusionSteadyState_kk12k21Vtau)
export(LogNormal)
export(Model)
export(ModelAnalytic)
export(ModelAnalyticInfusion)
export(ModelAnalyticInfusionSteadyState)
export(ModelAnalyticSteadyState)
export(ModelError)
export(ModelInfusion)
export(ModelODE)
export(ModelODEBolus)
export(ModelODEDoseInEquations)
export(ModelODEDoseNotInEquations)
export(ModelODEInfusion)
export(ModelODEInfusionDoseInEquation)
export(ModelParameter)
export(MultiplicativeAlgorithm)
export(MultiplicativeAlgorithm_Rcpp)
export(Normal)
export(Optimization)
export(optimizeDesign)
export(PFIMProject)
export(PGBOAlgorithm)
export(plotEvaluation)
export(plotEvaluationResults)
export(plotEvaluationSI)
export(plotRSE)
export(plotRSEFIM)
export(plotSE)
export(plotSEFIM)
export(plotSensitivityIndices)
export(plotShrinkage)
export(plotWeights)
export(plotWeightsMultiplicativeAlgorithm)
export(plotFrequencies)
export(plotFrequenciesFedorovWynnAlgorithm)
export(PopulationFim)
export(processArmEvaluationResults)
export(processArmEvaluationSI)
export(Proportional)
export(PSOAlgorithm)
export(replaceVariablesLibraryOfModels)
export(Report)
export(run)
export(SamplingTimeConstraints)
export(SamplingTimes)
export(setEvaluationFim)
export(setOptimalArms)
export(setSamplingConstraintForOptimization)
export(show)
export(showFIM)
export(SimplexAlgorithm)
export(tablesForReport)
export(constraintsTableForReport)
export(updateSamplingTimes)
